
:host {
    display: block;
    border: 1px solid black;
    background-color: gray;
  }
  // $ag-icons-path: "../node_modules/ag-grid-community/src/styles/ag-theme-balham/icons/";

  // @import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
  // @import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";